.kcreateformpage-con {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: auto 1fr auto;
    grid-gap: 0;
}

.kcreateformpage-middle {
    grid-area: main;
    width: 73%;
    margin-left: 13%;
    margin-bottom: 2vh;
}

.kcreateformpage-footer {
    grid-area: footer;
}

.kcreateformpage-header {
    grid-area: header;
    background-color: #012641;
    color: white;
    width: 73%;
    margin-left: 13%;
    border-radius: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

.kcreateformpage-header-title {
    font-size: xx-large;
}

.kcreateformpage-header hr {
    margin: 1vh 0vh;
    border:none;
    height: 1px;
    background-color: white;
}

.kcreateformpage-header-job {
    font-size: large;
}

.kcreateform-container {
    width: 100%;
}

.kcreateform-questions {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    font-size: large;
    
}

.kformquestion-con {
    background-color: white;
    width: 100%;
    border-radius: 2vh;
    padding: 2vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    border-left:1vh solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.kformquestion-header {
    display: flex;
}

.kformquestion-textbox {
    margin-left: 3vh;
    width: 89%;
    font-size: 2vh;
    resize: none;
    padding: 0.6vh;
    border-radius: 1vh;
    border: 2px solid rgb(229,229,229);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248,248,248);
}

.kcreateform-questions hr {
    border:none;
    height: 2px;
    background-color: rgb(229,229,229);
    margin: 2vh 2vh 2vh 0vh;
}

.kformquestion-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 2vh;
}

.kformquestion-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kformquestion-option-left {
    display: flex;
}

.kformquestion-radio {
    border: 2px solid rgb(210, 210, 210);
    width: 2.5vh;
    height: 2.5vh;
    margin-top: 0.3vh;
    border-radius: 50%;
}

.kformquestion-option-textbox {
    margin-left: 3vh;
    margin-bottom: 1.5vh;
    width: 40vh;
    padding: 0.5vh;
    font-size: 2vh;
    border: none;
    border-bottom: 2px solid rgb(236, 236, 236);
    background-color: white;
}

.kformquestion-option-delete {
    background-color: white;
    border: 2px solid rgb(210, 210, 210);
    padding: 0vh 1vh;
    height: 4vh;
    border-radius: 50%;
    font-size: 2vh;
    color: darkgray;
    font-weight: bold;
}

.kformquestion-option-delete:hover{
    color: white;
    background-color: rgb(210, 210, 210);
}

.kformquestion-addbtn {
    width: 15vh;
    height: 3.5vh;
    font-size: 2vh;
    margin-left: 5vh;
    background-color: #012641;
    border: 0.3vh solid #0066ae;
    color: white;
    border-radius: 3vh;
}

.kformquestion-footer{
    display: flex;
    justify-content: space-between;
    margin-right: 2vh;
}

.kformquestion-dropdown {
    width: 46vh;
    padding: 0.5vh;
    font-size: 2vh;
    border: none;
    border: 2px solid rgb(236, 236, 236);
    background-color: white;
}

.kformquestion-question-delete {
    width: 20vh;
    height: 3.5vh;
    font-size: 2vh;
    margin-left: 5vh;
    background-color: #dadada;
    border: 0.3vh solid #c8c8c8;
    color: #012641;
    border-radius: 3vh;
    padding: 0.5vh;
    font-weight: bold;
}

.kcreateformpage-addq-con {
    display: flex;
    justify-content: center;
}

.kcreateformpage-addq {
    border: 2px solid #012641;
    background-color: white;
    color:#012641;
    border-radius: 50%;
    font-size: 6vh;
    padding: 0vh 1.7vh;
}

.kcreateformpage-btns {
    margin-top:2vh;
    padding: 1.5vh;
    border-radius: 2vh;
    display: flex;
}

.kcreateformpage-formdeadline {
    font-size: large;
    margin-top: 1vh;
}

.kcreateformpage-formdeadline-input {
    width: 30%;
    margin-left: 5%;
}

.kcreateformpage-savebtn {
    height: 5vh;
    padding: 0vh 4vh;
    font-size: 3vh;
    background-color: #012641;
    border: 0.3vh solid #0066ae;
    color: white;
    border-radius: 3vh;
    font-weight: bold;
}

.kcreateformpage-cancelbtn {
    margin-right: 2vh;
    height: 5vh;
    font-size: 3vh;
    padding: 0vh 4vh;
    background-color: #ececec;
    border: 0.3vh solid #c8c8c8;
    color: #012641;
    border-radius: 3vh;
    font-weight: bold;
    margin-left: 18%;
}

.kformquestion-addbtn:hover, .kformquestion-question-delete:hover,.kcreateformpage-addq:hover,.kcreateformpage-cancelbtn:hover,.kcreateformpage-savebtn:hover{
    background-color: #60B3D1;
    border-color: #519eba;
    color: white;
}

.kformquestion-header-label {
    margin-top: 1.5vh;
}

.kformquestion-con:focus,.kformquestion-con:focus-within{
    border-color:#012641;
}

.kformquestion-option-textbox:focus, .kformquestion-textbox:focus, .kformquestion-dropdown:focus{
    outline:none;
    border-color:#60B3D1;
}