.nisa-profile-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-top: 10%;
    
  }

  .nisa-head2{
    color: #3498db;
    margin-bottom: 20%;
  }

  .nisa-head{
    color: #3498db;
  }
  
  .niss-profilepic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10%;
    text-align: center;
    border: 3px solid #3498db;
  }
  