#nab-conf-msg{
  font-size: 3vh;
}

#nab-vid-imp-msg{
  color:red;
  text-align: center;
}
.nab-confirmation-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect for modern browsers */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nab-confirmation-popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.nab-confirmation-popup p {
  margin-bottom: 10px;
}

.nab-confirmation-buttons button {
  margin-right: 10px;
}



.nab-intro-head{
  margin-top: 11%;
}
.nisa-image-container {
    flex: 1;
    padding: 20px;
  }
  
  .nisa-image-container img {
    max-width: 100%;
    height: 600px;
    margin-top: -20%;
    margin-left: 5%;
  }
  
  .nisa-form-container {
    flex: 1;
    padding: 20px;
    margin-left: 10%;
    margin-top: 10%;
  }
  .nisa-video-input label,
  .nisa-video-input input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    
  }

  .nisa-video-input label{
    font-size: 20px;
  }


  .nisa-video-input input {
    padding: 8px;
    box-sizing: border-box;
    width: 80%;
    border-radius: 5px;

    
  }
  
  .nisa-video-button {
    background-color: #056487;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .nisa-video-head{
    font-size: 50px;
    margin-bottom: 25px;
    margin-top: -20%;
  }
  
  .nisa-video-button:hover {
    background-color: #2980b9;
  }  

  .post-jobnew-container {
    width: 80%;
    min-height: 550px; /* Set a minimum height */
    margin: 5% auto;
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 6px 10px rgba(0.4, 0.2, 0, 0.2);
  }

  .nisa-intro-heading{
    font-size: 50px;
    text-align: center;
  }

  .nisa-intro-title{
    font-size: 26px;
    font-weight: bold;
    color: black;
  }  

  .nisa-intro1-title{
    font-size: 26px;
    color: #012641;
    margin-bottom: 4px;
  }

  .nisa-horizontal-line {
    border-top: 2px solid #ccc; 
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .nisa-points-section {
    margin-top: 20px;
  }
  
  .nisa-points-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .nisa-points-section ul {
    list-style-type: none;
    padding: 0;
  }

  .video-mid{
    margin-top: 8%;
    font-size: 18px;
    
  }

  .nisa-v-q{
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .nisa-points-section li {
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
  }
  
  .nisa-points-section li::before {
    content: '\2022'; /* Bullet point character */
    color: #333; /* Bullet point color */
    font-size: 14px;
    position: absolute;
    left: 0;
  }

  .nisa-done-t{
    width: 40%;
    height: 30%;
    margin-left: 28%;
  }

  .nisa-done-p{
    margin-left: 26%;
    font-size: 39px;
  }

  .nisa-intro2-title{
    font-size: 20px;
    
   
    margin-top: 5%;
    margin-left: 15%;
   
  }

  .nisa-intro3-title{
    font-size: 25px;
    color:black;
    margin-bottom: 4px;
    /* font-weight: bold; */
    margin-left: 20%;
  }
#nab-vid-question-box{
  margin-left: 15%;
  font-size: 23px;
  font-weight: bold;
}
#nab-vid-question-box-q{
  margin-left: 15%;
  font-size: 18px;
 
}
  .nisa-interview-img{
    width: 70%;
    height: 60%;
    border-radius: 4px;
    margin-bottom: 5%;
    margin-left:15%;
  }
.nab-btn-vid{
  margin-bottom: 2%;
  max-height: 90px;
}
  .nisa-inter-btn{
    width: 15%;
    height: 40px;
    text-align: center;
    background-color: #012641;
    border-radius: 8px;
    border: none;
    color: white;
    margin-left: 45%;
    margin-top: 5%;
    font-size: 20px;
    margin-bottom: 10%;
  }

  .countdown-container{
    text-align: center;
    margin-top: 15%;
    font-size: 90px;
    color: #2980b9;
  }


  .good-luck-message{
    text-align: center;
    
    font-size: 90px;
    color: #012641;
  }

  .video-header{
    display: flex;
    flex-direction: row;
  }

  .nisa-video-heading1{
    font-size: 40px;
    width: 50%;
  }
  
  .nisa-video-timer{
    font-size: 40px;
    
    color: #2980b9;

  }
  .nisa-nab-video-timer{
    font-size: 40px;
    
    color: #2980b9;
    margin-left: 27%;

  }

  .nisa-timer-div{
    margin-left: 47%;
    width: 15%;
    height: 10%;
    border: 4px solid rgb(87, 83, 83);
    text-align: center;
    border-radius: 6px;
  }

  .nisa-v-q2{
    margin-bottom: 15px;
  }

  .upload-video-btn-1{
    width: 15%;
    height: 40px;
    text-align: center;
    
    background-color: #012641;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5%;
    margin-top: 2%;
  }
  .upload-video-btn-11{
    width: 15%;
    height: 40px;
    text-align: center;
    
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5%;
    margin-top: 2%;
  }
  .upload-video-btn-13{
    width: 15%;
    height: 40px;
    text-align: center;
    
    background-color: red;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5%;
    margin-top: 2%;
  }
  .upload-video-btn-2{
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 5%;
    background-color: #012641;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 85%;
  }
  .nisa-v-btns{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 15%;
    width: 100%;
    height: 60%;
  }

  .upload-v-btn1{
    margin-top: 5%;
    border: 3px solid #012641; /* Change this border color to your desired color */
    color: #056487; /* Change this text color to your desired color */
    background-color: #ffffff; /* Change this background color to your desired color */
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
  }

  .question-container {
    margin-top: 4%;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(8, 25, 174, 0.2); /* Increased shadow */
}



  .nisa-code{
    margin-bottom: 20px;
    background-color: #d3d3d337;
    width: 60%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid rgba(194, 194, 194, 0.527);
  }
  .nisa-t-q{
    font-weight: bold;
    margin-bottom: 2%;
  }

  .nisa-t-a{
    margin-bottom: 4px;
  }

  .nisa-t-img{

    max-width: 50%;
    max-height: 50%;
  }

  .nisa-submit-button{
    width: 100px;
    height: 40px;
    background-color: #012641;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin-left: 45%;
    margin-top: 5%;
    font-size: 14px;
  }

  .nisa-nabeeha-submit-button{
    width: 180px;
    height: 40px;
    background-color: #012641;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    
    margin-top: 5%;
    font-size: 14px;
  }

  .nisa-nabeeha-submit-button[disabled] {
    opacity: 0.5; /* Reduce opacity when button is disabled */
    cursor: not-allowed; /* Change cursor to not-allowed when button is disabled */
  }
  .ktest-app-points {
    float: right;
    margin-top: -1vh;
    font-weight: bold;
    color: rgb(206, 73, 73);
  }

  .k-actual-answer {
    font-size: large;
    padding: 1vh;
    color: #d31111;
  }

  .k-correct-answer {
    font-size: large;
    margin-top: 4vh;
    background-color: #b3e882c1;
    padding: 1vh;
    margin-bottom: 2vh;
    border-radius: 2vh;
  }

  .k-incorrect-answer {
    font-size: large;
    margin-top: 4vh;
    background-color: #ff645996;
    padding: 1vh;
    margin-bottom: 2vh;
    border-radius: 2vh;
  }
  .video-preview {
    width: 70%;
    
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  