.nab-question-container {
    margin-top: 4%;
    padding: 40px;
    padding-left: 10vh;
    box-shadow: 0px 0px 20px rgba(8, 25, 174, 0.2); /* Increased shadow */
    border: 5px solid  rgba(8, 25, 174, 0.2) ;
    height: 60vh;
    display: flex;
    flex-direction: row;
    
}
#quick-stats{
    text-align: center;
    width:100%;
    font-weight: bold;
    font-size: 30px;
}
#statsdiv{
    margin-left: 20vh;
    
}
#border-sample-test{
    border-left: 1px solid #ccc;
    height: 100%;
    margin-left: 10vh;
}
#statsdiv1{
    font-size: 18px;
}
#timeiconptage{
    display: flex;
}